# Configurações da biblioteca

In [ ]:
! pip install flatten_json

In [ ]:
! pip install requests

In [ ]:
! pip install missingno

In [ ]:
import requests
import json
from pprint import pprint
import pandas as pd
from flatten_json import flatten

Import Basico.(Recomendado)

In [210]:
import json
from pprint import pprint
import pandas as pd

import sklearn
import statsmodels as sm

In [212]:
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
import matplotlib.dates as mdates

In [211]:
import matplotlib.pyplot as plt
import plotly.express as px
import missingno

# Obtenção dos dados

Obtencao dos Dados apartir de arquivo hospedado no diretorio do Calab.

In [ ]:
#with open('/content/dados.json') as arquivo_json:
    # objeto python recebendo o carregamento de um arquivo json
    #dados = json.load(arquivo_json)

#dados

Obtencao dos Dados apartir de Requisicao direta via Link.(Recomendado)

In [ ]:
# essa linha importa os recursos
import json, requests

# essa linha pega os recursos do link e atribui a variavel

# requisicao1 = requests.get("http://3.145.163.55:5000/dados/1/3/2020/2020")
# requisicao2 = requests.get("http://3.145.163.55:5000/dados/3/6/2020/2020")
# requisicao3 = requests.get("http://3.145.163.55:5000/dados/6/9/2020/2020")

requisicao = requests.get("http://3.145.163.55:5000/dados/1/2/2020/2020")


# realiza a conversão do response para um formato acessível ao python
data = (requisicao.json())
data

In [ ]:
type(data)

In [ ]:
## Quebrando o json em 2 dataframes (missing, original)
## Trabalhando com os valores de missing

miss = data['missing']
orig = data['original']
print (miss)

# Visualização dos dados

In [ ]:
##### Verificando os valores e colunas #####

#display(miss) # Exibe o Dataframe

#print(miss.isna().any()) # Exibe como True ou False os valores nan do Dataframe
#print(miss.isna().sum()) # Exibe a soma dos valores nan no Dataframe
#miss.head()
#miss.info(verbose=True)
#print(miss.info())
#miss.shape
#miss.isna().sum()
#miss.isnull().sum()
#type(miss)

In [ ]:
##Converte o array json em dict tratado, separados por chaves e valores

df=json.loads(miss)
print (df)

In [ ]:
type(df)

In [ ]:
### Quebrando o array df em 3 arrays menores
# columns:['time','temp']
# index:[],
# data:[]

In [ ]:
teste = df  # varival teste rescebe o data frame df
display(teste) # Exibe o Dataframe já quebrado

In [ ]:
type(teste)

# Separação dos dados para o teste(linha data:dt)

In [ ]:
id = teste['index'] # cria o array id com os dados de index
print(id)

In [ ]:
cl = teste['columns'] #cria o array cl com os dados de columns
print(cl)

In [ ]:
dt = teste['data']  #cria o array de dt com os dados de data
print(dt)

In [ ]:
type(dt)

# Conversão dos dados(Lista/Pandas Python)

In [ ]:
### Convertendo os arrays em colunas

### Converter a lista em um DataFrame do Pandas em Python
##  Converte o dt  em colunas

df_dt = pd.DataFrame(dt)
print(df_dt)

In [ ]:
type(df_dt)

In [ ]:
display(df_dt) # Exibe o Dataframe

In [ ]:
type(df_dt)

# Renomeando as Colunas('0','1'//'time','temp')

In [ ]:
### Renomear Colunas Dataset
###'time', 'temp'
#example_df.columns = ['Name','Age','Roll_no']

df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt) # Exibe o Dataframe

In [ ]:
##### Apenas o Dataset Temp
#### Cria o Novo DataSet df_temp, com uma coluna 'temp'

df_temp = df_dt['temp'] #Cria o novo df com a coluna temp
df_temp.head(10)  #Exibir 10 ou mais valores do dataframe

In [ ]:
##### Verificando os valores e colunas #####

#display(df_temp) # Exibe o Dataframe

#print(df_temp.isna().any()) # Exibe como True ou False os valores nan do Dataframe
#print(df_temp.isna().sum()) # Exibe a soma dos valores nan no Dataframe
#df_temp.head()
#df_temp.info(verbose=True)
#print(df_temp.info())
#df_temp.shape
#df_temp.isna().sum()
#df_temp.isnull().sum()
#type(df_temp)

# --------------------------------------------------------------------------------

#Iniciando o Tratamento dos Dados(missing data)

In [ ]:
# Opcao 1 - Excluir valores ausentes
# Opcao 2 - Preencher valores ausentes
# Opcao 2.1 - Extrair a mediana da coluna LotFrontage e preencher os valores faltantes com ela.
# Opcao 2.2 - Verificar qual o valor mais frequente e usar ele no preenchimento.
# Opcao 3 - Construir um modelo preditivo para missing values.

In [129]:
import numpy as np

In [ ]:
print('Media:', np.mean(df_dt))
print('Desvio Padrao:', np.std(df_dt))
print('Coeficiente variacao:', np.std(df_dt)/np.mean(df_dt))

# --------------------------------------------------------------------------------

# Identificando Dados Faltantes | Tecnica I (fillna)

In [ ]:
### Identificando Dados Faltantes

df_dt = pd.DataFrame(dt)#conversao em colunas
df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt)#Exibe o dataframe

In [ ]:
### Identificando Dados Faltantes
## Tecnica de fillna | Substitui os dados faltantes por um valor especifico

df_tec1 = pd.DataFrame(df_dt) #df_tec1 recebe o dataframe df_dt
df_tec1

In [ ]:
df_tec1['temp'].fillna(8.3, inplace=True) # troquei os valores faltantes por 8.3
df_tec1

In [ ]:
##  Conversor Valores float / int

df_tec1['temp'].astype(np.int64) # converte os valores de float para int
df_tec1.info(verbose=True)

Protar o Grafico

In [ ]:
#### Protar o Grafico
##  Reseta os valores de df_dt

df_dt = pd.DataFrame(dt)#conversao em colunas
df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt)#Exibe o dataframe

In [ ]:
# Exibe um grafico de barras com os dados time e temp

#missingno.bar(df_dt) # Antes de tratar
missingno.bar(df_tec1) # Depois de tratar

In [ ]:
# Exibe um grafico de barras com os dados time e temp, Mostrando em que local os dados estao faltando

#missingno.matrix(df_dt) # Antes de Tratar
missingno.matrix(df_tec1) # Depois d eTratar

# -------------------------------------------------------------------------------

# Identificando Dados Faltantes | Tecnica II  (media)

In [ ]:
### Identificando Dados Faltantes

df_dt = pd.DataFrame(dt)#conversao em colunas
df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt)#Exibe o dataframe

In [ ]:
### Identificando Dados Faltantes
## Tecnica de fillna | Substitui os dados faltantes por um valor especifico

df_tec2 = pd.DataFrame(df_dt) #df_tec2 recebe o dataframe df_dt
df_tec2

In [ ]:
#df['coluna'].fillna(df['coluna'].mean(), inplace=True)

df_tec2['temp'].fillna(df_tec2['temp'].mean(), inplace=True) # troquei os valores faltantes por 8.3
df_tec2

In [ ]:
##  Conversor Valores float / int

df_tec2['temp'].astype(np.int64) # converte os valores de float para int
df_tec2.info(verbose=True)

In [ ]:
#### Protar o Grafico
##  Reseta os valores de df_dt

df_dt = pd.DataFrame(dt)#conversao em colunas
df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt)#Exibe o dataframe

In [ ]:
# Exibe um grafico de barras com os dados time e temp

missingno.bar(df_dt) # Antes de tratar
#missingno.bar(df_tec1) # Depois de tratar

In [ ]:
# Exibe um grafico de barras com os dados time e temp, Mostrando em que local os dados estao faltando

#missingno.matrix(df_dt) # Antes de Tratar
missingno.matrix(df_tec1) # Depois d eTratar

# ------------------------------------------------------------------------------

# Identificando Dados Faltantes | Tecnica III (xxx)

In [ ]:
### Identificando Dados Faltantes

df_dt = pd.DataFrame(dt)#conversao em colunas
df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt)#Exibe o dataframe

In [ ]:
### Identificando Dados Faltantes
## Tecnica de fillna | Substitui os dados faltantes por um valor especifico

df_tec3 = pd.DataFrame(df_dt) #df_tec2 recebe o dataframe df_dt
df_tec3

In [ ]:
#df['coluna'].fillna(df['coluna'].mean(), inplace=True)

df_tec3['temp'].fillna(df_tec2['temp'].mean(), inplace=True) # troquei os valores faltantes por 8.3
df_tec3

# --------------------------------------------------------------------------------

#Manipulando dados ausentes com imputação univariada usando pandas

In [ ]:
### Identificando Dados Faltantes

df_dt = pd.DataFrame(dt)#conversao em colunas
df_dt.columns = ['time', 'temp']  #Renomeia as Colunas do DataSet
display(df_dt)#Exibe o dataframe

In [ ]:
df_tec1

In [251]:
def plot_df(df_tec1, df_dt, temp, titulo=None, xlabel=None, ylabel=None):
    '''	
    df1: dataframe original (sem dados faltantes)
    df2: dataframe com dados faltantes
    col: nome da coluna que contém dados faltantes
    '''    
    df_f = df_dt.rename(columns={col: 'temp'})
    
    colunas = df_f.loc[:, 'temp':].columns.tolist()
    subplots_t = len(colunas)
   
    fig, ax = plt.subplots(subplots_t+1, 1, sharex=True)
    plt.subplots_adjust(hspace=0.25)
    fig.suptitle = titulo 
    
    df_tec1[col].plot(ax=ax[0], figsize=(10, 16))
    ax[0].set_title('Dataset Original')
    ax[0].set_xlabel(xlabel)
    ax[0].set_ylabel(ylabel)    
    
    for i, nomecol in enumerate(colunas):
        df_f[nomecol].plot(ax=ax[i+1])
        ax[i+1].set_title(nomecol)

    plt.show()

In [252]:
def indice_rmse(df_tec1, df_dt, col=None):
    '''
    df1: dataframe original (sem dados faltantes)
    df2: dataframe com dados faltantes
    col: nome da coluna que contém dados faltantes

    retorna: a lista de índices
    '''
    df_f = df_dt.rename(columns={col: 'temp'})
    colunas = df_f.loc[:, 'temp':].columns.tolist()
    scores = []
    for comp_col in df_f[1:]:
        rmse = np.sqrt(np.mean((df_tec1[col] - df_f[comp_col])**2))
        scores.append(rmse)
        print(f'RMSE de {comp_col}: {rmse}')
    return scores

In [ ]:
plot_df(df_tec1, df_dt, 'temp')

In [245]:
df_dt['ffill'] = df_dt['temp'].fillna(method='ffill')
df_dt['bfill'] = df_dt['temp'].fillna(method='bfill')
df_dt['mean'] = df_dt['temp'].fillna(df_dt['temp'].mean())

In [ ]:
#Calculando o erro quadrático médio
esse = indice_rmse(df_tec1, 
                    df_dt, 
                    'temp')